{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li><a href='{:url("index")}&mod={$model}&pid={$pid}'>列表</a></li>
            <li><a href='{:url("log")}&mod={$model}&pid={$pid}'>维护明细</a></li>
            <li class="layui-this"><a href='{:url("trash")}&mod={$model}&pid={$pid}'>回收站</a></li>
        </ul>
    </div>
    
    <!-- 筛选列表 -->
    <div class="demoTable layui-form">
        <div class="layui-form-item">
        {$html_str}
        </div>
        <blockquote class="layui-elem-quote">
            <button class="layui-btn layui-btn-small" id="search" data-type="reload">搜索</button>
            <a href="{:url('trash')}&mod={$model}&pid={$pid}" class="layui-btn layui-btn-small">清空</a>
            <button type="button" class="layui-btn layui-btn-small layui-bg-orange" id="backAll">批量还原</button>
            <button type="button" class="layui-btn layui-btn-small layui-btn-danger" id="rushAll">彻底删除</button>
        </blockquote>
    </div>
    <!--列表-->
    <table class="layui-table" id="list" lay-filter="list">
    </table>
</div>
<!--action 操作-->
<script type="text/html" id="action">
    <a class="layui-btn layui-bg-orange layui-btn-mini" lay-event="back">还原</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="rush">彻底删除</a>
    
</script>
<!--字段js模版-->
{$js_tmp}

{include file="common/foot"/}
<script>
    layui.use(['table','laydate','element'], function() {
        var laydate = layui.laydate;
        var element = layui.element;
        {$js_date}
        var table = layui.table, $ = layui.jquery;
        var tableIn = table.render({
            id: 'user',
            elem: '#list',
            url: '{:url("trash")}&mod={$model}&pid={$pid}',
            method: 'post',
            page: true,
            cols: [[
                {checkbox:true,fixed: true},
                //服务端赋值字段
                {$js_str}
                {width: 160, align: 'center', toolbar: '#action'}
            ]],
            limit: 10 //每页默认显示的数量
        });
        
        //搜索
        $('#search').on('click', function() {
            {$js_val}
            tableIn.reload({
                {$js_where}
            });
        });
        
        //表格事件
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if (obj.event === 'back') {
                layer.confirm('您确定要还原该数据吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('listBack')}&mod={$model}&pid={$pid}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'rush') {
                layer.confirm('您确定要彻底删除该数据吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('listRush')}&mod={$model}&pid={$pid}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }
        });

        $('#backAll').click(function(){
            layer.confirm('确认要还原选中信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('user'); //test即为参数id设定的值
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('backall')}&mod={$model}&pid={$pid}", {ids: ids}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        });
        
        $('#rushAll').click(function(){
            layer.confirm('确认要彻底删除选中信息吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkStatus = table.checkStatus('user'); //test即为参数id设定的值
                var ids = [];
                $(checkStatus.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:url('rushall')}&mod={$model}&pid={$pid}", {ids: ids}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        })
    });
</script>


</body>
</html>